[Unit]
Description=mqtt-exporter
After=network.target mosquitto.service

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/opt/mqtt-exporter -http-addr 0.0.0.0:8080 -tiny

[Install]
WantedBy=multi-user.target
